In [1]:
#sets in python 
#a set is a type of data that stores a set of things
#(1,3) <- 3
# -> (1,3)
#python rejects any duplicates values 

a=set()
print(a)

set()

In [2]:
#to add to the set
a.add(1)
print(a)

{1}

In [3]:
a.add(2)
print(a)

{1, 2}

In [4]:
#sets helps to remove duplicates in a list
given_list1=[1,1,2,4,2]

In [5]:
#create a empty set first 
new_set1=set()
for e in given_list1:
    new_set1.add(e)
print(new_set1)

{1, 2, 4}

In [8]:
#to make set into list
new_list1=[]
for e in new_set1:
    new_list1.append(e)
print(new_list1)

[1, 2, 4]

In [9]:
#to add string in sets
b=set()
b.add("banana")
b.add("apple")
b.add(1)
print(b)

{1, 'banana', 'apple'}

In [26]:
#exercise --> [1,3,4,1,3] 
#find the sum of the unique numbers which is 1,3,4
given_list5=[1,3,4,1,3]
new_set5=set()
total1=0
for e in given_list5:
    new_set5.add(e)
print(new_set5)
for m in new_set5:
    total1 += m
print(total1)

{1, 3, 4}
8