In [1]:
a=["banana", "apple", "microsoft"]

In [2]:
print (a)

['banana', 'apple', 'microsoft']

In [4]:
#using for statment displaying the output
for element in a:
    print(element)

banana
apple
microsoft

In [5]:
b=[49,40,90]
for mm in b:
    print(mm)

49
40
90

In [9]:
c=[49,40,90]
total = 0
for dd in c:
    total = total+dd
print(total)

179

In [10]:
#to find sum of 1 2 3 and 4
#range can list the numbers from 1 to any number to want
range(1,10)

range(1, 10)

In [12]:
c=list(range(1,10))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for hh in range(1,10):
    print(hh)

1
2
3
4
5
6
7
8
9

In [20]:
#to find the sum of the values
total2 = 0
for yy in range(1,10):
    total2 +=yy
print(total2)

45

In [21]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [24]:
#modulo operator 
print(6%3)

0

In [27]:
total3=0
for uu in range(1,8):
    if uu%3 ==0:
        total3 += uu
print(total3)

9

In [47]:
#can you compute all multiples of 3, 5
#that are less then 100
for sample in range(1,101):
    if sample%3==0:
        print(sample)
    if sample%5==0:
        print(sample)

3
5
6
9
10
12
15
15
18
20
21
24
25
27
30
30
33
35
36
39
40
42
45
45
48
50
51
54
55
57
60
60
63
65
66
69
70
72
75
75
78
80
81
84
85
87
90
90
93
95
96
99
100